<!-- Features -->
<div class="md:max-w-[85rem] md:px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

    {% include "components/atoms/sous_titre.html.twig"%}
    <div
        class="relative p-6 md:p-16 mt-10">
        <!-- Grid -->
        <div class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
            <div
                class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2">

                <!-- Tab Navs -->
                <nav class="grid gap-4 mt-5 md:mt-10" aria-label="Tabs" role="tablist">

                    {% for item in button_contents %}
                        {% include "components/elements/button_navbar/button_navbar_item.html.twig"  %}
                    {% endfor %}


                </nav>
                <!-- End Tab Navs -->
            </div>
            <!-- End Col -->

            <div class="lg:col-span-6">
                <div
                    class="relative">
                    <!-- Tab Content -->
                    <div>
                        {% for item in button_contents %}

                            <div class="{{loop.index == 2 or loop.index == 3 ? 'hidden' : ''}} flex justify-center" id="tabs-with-card-{{slug}}{{loop.index}}" role="tabpanel" aria-labelledby="tabs-with-card-item-{{slug}}{{loop.index}}">
                                {% if item.image_asset is defined %}
                                    <img class="max-h-96 shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/20" src="{{asset (item.image_asset)}}" alt="{{item.alt | default ('Image Description')}}">
                                {% else %}
                                    <video  class="rounded-lg" controls  loop>
                                        <source src="{{asset(item.video_asset)}}" type="video/mp4">
{#                                         <source src="movie.ogg" type="video/ogg">
 #}                                        Your browser does not support the video tag.
                                    </video>
                                {% endif %}


                            </div>
                        {% endfor %}


                    </div>
                    <!-- End Tab Content -->

                    <!-- SVG Element -->
                    <div class="hidden absolute top-0 end-0 translate-x-20 md:block lg:translate-x-20">
                        <svg class="w-16 h-auto text-amber-500" width="121" height="135" viewbox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                            <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                            <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <!-- End SVG Element -->
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Grid -->

        <!-- Background Color -->
        <div class="absolute inset-0 grid grid-cols-12 size-full">
            <div class="col-span-full lg:col-span-7 lg:col-start-6 bg-gray-100 w-full h-5/6 rounded-xl sm:h-3/4 lg:h-full dark:bg-neutral-800"></div>
        </div>
        <!-- End Background Color -->
    </div>
</div>
<!-- End Features -->
