<button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-700 dark:hover:bg-neutral-700 {{loop.index == 1 ? 'active' : ''}}" id="tabs-with-card-item-{{slug}}{{loop.index}}" data-hs-tab="#tabs-with-card-{{slug}}{{loop.index}}" aria-controls="tabs-with-card-{{slug}}{{loop.index}}" role="tab">
    <span class="flex">
        <svg
            viewbox="{{item.viewbox_content}}" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mt-2 size-6 md:size-7 hs-tab-active:fill-amber-600 fill-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200">

            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path d="{{item.path_content}}"></path>
        </svg>
        <span class="grow ms-6">
            <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"></span>
            {% for text in item.texts %}
                <span class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-neutral-200">{{text | trans | raw}}
                </span>
            {% endfor %}

        </span>
    </span>
</button>


