{% extends 'home/layout.html.twig' %}

{% block title %}
    {% trans %}Bienvenue sur MEDICAL FIGHT, obtenez ici les informations concernant nos prestations de soins médicaux.{% endtrans %}

{% endblock %}

{% block body %}
    <div class="flex flex-col gap-20">
        {% include "components/home/video_header.html.twig" %}
        {% include "components/home/biographie.html.twig" %}
        {% include "components/home/new_prentation.html.twig" %}
        {% include "components/home/experience.html.twig" %}
        {% include "components/home/temoignages.html.twig" %}
        {% include "components/home/pourquoi_choisir_mf.html.twig" %}
        {% include "components/home/dispositif.html.twig" %}
        {% include "components/home/mf_proposition_organisation.html.twig" %}
        {% include "components/home/formule_cle_en_main.html.twig" %}
        {% include "components/home/partenaire.html.twig" %}
        {% include "components/molecules/systeme_de_commentaires.html.twig" %}
    </div>
{% endblock %}
