<!-- Input Number -->
{% if form_errors (form_input)%}
    {% include "components/elements/form/toast_errors.html.twig"%}
{% endif %}

<div class="py-2 px-3 bg-transparent text-amber-50 border border-amber-400 rounded-lg" data-hs-input-number='{
  "min" : 1,
  "max" : 5 
}'>
  <div class="w-full flex justify-between items-center gap-x-3">
    <div>
      <span class="block font-medium text-sm">
        Votre satisfaction entre 1 et 5
      </span>
    </div>
    <div class="flex items-center gap-x-1.5">
      <button type="button" class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" data-hs-input-number-decrement="">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
        </svg>
      </button>
      <input name="{{field_name(form_input)}}" class="p-0 w-6 bg-transparent border-0 text-amber-50 text-center focus:ring-0 " type="text" value="{{field_value(form_input)}}" data-hs-input-number-input="">
      <button type="button" class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" data-hs-input-number-increment="">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
<!-- End Input Number -->