{% if form_errors (form_input)%}
    {% include "components/elements/form/toast_errors.html.twig"%}
{% endif %}

<div class="relative">
    <textarea name="{{field_name (form_input)}}" rows="7" id="{{field_name(form_input)}}" class="peer p-4 block w-full border border-amber-400 bg-transparent text-amber-50 rounded-lg text-sm placeholder:text-transparent focus:border-border-500 focus:ring-border-500 disabled:opacity-50 disabled:pointer-events-none focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2" placeholder="{{field_label(form_input)}}" value="{{field_value(form_input)}}"></textarea>
    <label for="{{field_name(form_input)}}" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:text-xs peer-focus:-translate-y-1.5peer-focus:text-amber-50 text-amber-50 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-amber-50">{{field_label(form_input)}}</label>
    <span class="text-sm text-amber-50">{{form_help(form_input)}}</span>
</div>
