{% extends 'commentaires/layout.html.twig' %}

{% block title %}
{% trans %}Bienvenue sur MEDICAL FIGHT, laissez nous vos avis, ils nous sont précieux.{% endtrans %}
{% endblock %}

{% block body %}

    <section class="min-h-screen flex flex-col justify-evenly text-zinc-800 items-center">
        {% include "components/atoms/logo.html.twig" with {
            logo: 'public/images/logo/Medical_Fight_whit&gold.png'
        } %}

        {% include "components/atoms/title.html.twig" with {
            text: 'Laissez un commentaire à MEDICAL FIGHT'
        } %}
        <div class="rounded-lg shadow-2xl px-1 py-7 w-11/12">
            {% include "components/molecules/commentaires/form_commentaires.html.twig" %}
        </div>
    </section>

{% endblock %}
