<!-- Testimonials -->
<div
    id="biographie" data-aos="fade-up" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:gap-10 lg:gap-16 md:items-center">
        <aside class="hidden md:block mb-24 md:mb-0 sm:px-6">
            <div class="flex relative justify-center">
                <img class="rounded-xl md:h-96" src="{{ asset ('public/images/biographie/bio.jpg') }}" alt="Biographie de Pauline">
            </div>
        </aside>
        <!-- End Col -->

        <article>
            <!-- Blockquote -->
            <blockquote class="relative">
                {{ ux_icon('icomoon-free:quotes-left', {class: 'absolute top-0 start-0 transform -translate-x-8 -translate-y-4 size-12 text-amber-500 dark:text-neutral-700'}) }}
                <div class="relative z-10">
                    {% include "components/atoms/blockquote.html.twig" with {
                        text: "Forte de plus de 100 médicalisations depuis l'essor du MMA en France, <strong class='text-amber-500 uppercase'>" ~ SITE_NAME ~ "</strong> constitue une référence dans la médicalisation d'événements de MMA et un interlocuteur privilégié des organisations françaises et européennes."
                    }%}
                </div>
                <footer class="mt-6 ml-6">
                    <div class="flex items-center">
                        <div class="md:hidden flex-shrink-0">
                            <img class="size-16 rounded-full object-cover object-top" src="{{ asset ('public/images/biographie/bio.jpg') }}" alt="Biographie de Pauline"></div>
                        <h3 class="ms-4 md:ms-0">
                            <span class="block text-2xl font-semibold text-amber-500 dark:text-neutral-200">
                                Dr Pauline
                                <span class="uppercase">Seriot</span>
                            </span>
                            <span class="block text-xl text-gray-50 dark:text-neutral-400">
                                {% trans %}
                                Médecin urgentiste
                                {% endtrans %}
                            </span>
                        </h3>
                    </div>
                </footer>
                {# {% include "components/atoms/button.html.twig" with {
                                    link: 'app_contact',
                                    text: 'En savoir plus'
                                } %} #}

            </blockquote>
            <!-- End Blockquote -->
        </article>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Testimonials -->
