<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
    <!-- Card -->
      {% include "components/atoms/dispositif_item.html.twig" with {
        text : "D'après le Code Sportif de la FMMAF, l'organisateur est libre du choix de son médecin et par extension, de son dispositif médical.",
        link_asset: "public/document/FMMAF_CodeSportif_v800_Pro.pdf",
        link_content: "FMMAF_CodeSportif_v800_Pro.pdf",
        image_asset: "public/images/pourquoi_choisir_mf/20230624_215057.jpg",
        image_alt: "Laissez-passer médical"
      } %}
    <!-- End Card -->

    <!-- Card -->
      {% include "components/atoms/dispositif_item.html.twig" with {
        text: "MEDICAL FIGHT s'assure de la préservation de l'intégrité physique des combattants avant, pendant et à l'issue de l'événement.",
        image_asset: "public/images/pourquoi_choisir_mf/Screenshot_20231020_012000_Instagram.jpg",
        image_alt: "Soin de la société MEDICAL FIGHT auprès d'un combattant de MMA"
      } %}
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->