<!-- Blog Article -->
<div id="experience" class="max-w-3xl px-4 pt-6 lg:pt-10 sm:px-6 lg:px-8 mx-auto">
    <div
        class="max-w-2xl">
        <!-- Content -->
        <section class="space-y-5 md:space-y-8">
            <div class="space-y-3">
                {% include "components/atoms/title.html.twig" with {
                    text: 'Expérience'
                 } %}
                <aside class="flex justify-center">
                    {% include "components/atoms/video.html.twig" with {
                    video_asset: 'public/videos/experience.m4v'
                } %}
                </aside>
                {% for introduction in experience.texts.introduction %}
                    {% include "components/atoms/experience/paragraph_experience.html.twig" with {
                        'text' : introduction
                    } %}
                {% endfor %}
            </div>
            {% include "components/molecules/carousel.html.twig" %}
        </section>
        <!-- End Content -->
    </div>
</div>
<!-- End Blog Article -->
