{% include "components/elements/button_navbar/button_navbar.html.twig" with {
    text : formule_cle_en_main.title,
    button_contents : formule_cle_en_main.contents,
    slug :formule_cle_en_main.slug

} %}