{% include "components/elements/button_navbar/button_navbar.html.twig" with {
    text : mf_proposition_organisations.title,
    button_contents : mf_proposition_organisations.contents,
    slug :mf_proposition_organisations.slug
} %}