<!-- Icon Blocks -->
<div id="presentation" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    {% include "components/atoms/title.html.twig" with {
        text: "Présentation"
    } %}

    <aside class="flex justify-center mt-3">
        {% include "components/atoms/video.html.twig" with {
            video_asset: '/public/videos/qui_je_suis.m4v'
        } %}
    </aside>

    <article class="mt-5 lg:mt-16 md:gap-8 lg:gap-12 mb-6 text-center">
        <div class="lg:col-span-1">
            <h2 data-aos="fade-up" class="font-bold text-2xl md:text-3xl text-amber-50 dark:text-neutral-200">
                {% include "components/elements/site_name.html.twig" %}
                {% trans %}est spécialisé dans la couverture médicale des sports de combat.{% endtrans %}
            </h2>

        </div>
    </article>
    <div
        class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12">
        <!-- Icon Block -->
        <div>
            <div data-aos="fade-up" class="relative flex justify-center items-center size-12 rounded-xl ">
                {{ ux_icon('fa-solid:medal', {class: 'text-amber-400'}) }}
            </div>
            <div data-aos="fade-up" class="mt-5">
                <p class="mt-1 text-gray-600 dark:text-neutral-400">
                    <strong class="text-lg font-sstrongibold text-amber-200 dark:text-white">
                        {% trans %}Passionnée{% endtrans %}
                    </strong>
                    <span class="mt-1 text-amber-50 dark:text-neutral-400">
                        {% trans %}
                        des sports de combat depuis des années, c'est tout naturellement qu'elle s'est tournée vers la médicalisation de ces disciplines.{% endtrans %}
                    </span>
                </p>
            </div>
        </div>
        <!-- End Icon Block -->

        <div>
            <div data-aos="fade-up" class="relative flex justify-center items-center size-12  rounded-xl">
                {{ ux_icon('fluent:hat-graduation-28-filled', {class : 'text-amber-400'}) }}
            </div>
            <div data-aos="fade-up" class="mt-5">
                <p class="mt-1 text-gray-600 dark:text-neutral-400">
                    <strong class="text-lg font-sstrongibold text-amber-200 dark:text-white">
                        {% trans %}Titulaire{% endtrans %}
                    </strong>
                    <span class="text-amber-50 dark:text-neutral-400">
                        {% trans %}d'un Diplôme d'Etat en Médecine d'Urgence et spécialisée en traumatologie du sport, le Dr{% endtrans %}
                        <span class='uppercase'>Seriot</span>
                        {% trans %}est également membre de la{% endtrans %}
                        {% include "components/atoms/popover.html.twig" with {
                            text: 'FMMAF',
                            popover: 'French MMA Federation'
                        } %}
                        , de la
                        {% include "components/atoms/popover.html.twig" with {
                            text: 'FFB',
                            popover: 'Fédération Française de Boxe'
                        } %}
                        et a travaillé pour la
                        {% include "components/atoms/popover.html.twig" with {
                            text: 'FFKMDA',
                            popover: 'Fédération Française de Kickboxing, Muay-Thaï et Disciplines Associées'
                        } %}
                        et la
                        <span class="text-nowrap">
                            {% include "components/atoms/popover.html.twig" with {
                            text: 'FFL',
                            popover: 'Fédération Française de Lutte'
                        } %}.</span>

                    </span>
                </p>
            </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div>
            <div data-aos="fade-up" class="relative flex justify-center items-center size-12 rounded-xl ">
                {{ ux_icon('fontisto:doctor', {class: 'text-amber-400'}) }}
            </div>
            <div data-aos="fade-up" class="mt-5">
                <p class="mt-1 text-gray-600 dark:text-neutral-400">
                    <strong class="text-lg font-sstrongibold text-amber-200 dark:text-white">
                        {% trans %}Le Dr SERIOT{% endtrans %}
                    </strong>
                    <span class="mt-1 text-amber-50 dark:text-neutral-400">
                        {% trans %}
                        est avant tout un médecin de terrain, qui agit au cœur de l'urgence en appliquant l'exigence d'une prise en charge traumatologique optimale avec rapidité.{% endtrans %}
                        <span class="font-extrabold">
                            {% trans %}Rigueur, efficacité et savoir-faire la caractérise.{% endtrans %}
                        </span>
                    </span>
                </p>
            </div>
        </div>
        <!-- End Icon Block -->


    </div>
</div>
<!-- End Icon Blocks -->
