<!-- Clients -->
<section id="partenaires"
    class="max-w-[85rem] px-4 sm:px-6 lg:px-8 lg:py-14 mx-auto flex flex-col gap-10">
    <!-- Title -->
    {% include "components/atoms/title.html.twig" with {
        text: 'Ils nous font déjà confiance'
    } %}
    <!-- End Title -->
    <div
        class="flex justify-evenly items-center flex-wrap gap-6">
        <!-- Grid -->
        {% for item in partenaires.images %}
            <img class="rounded-lg sm:w-1/3 md:w-1/6 w-1/2 hover:scale-125" src="{{asset (item.asset)}}" alt="{{item.alt}}">
        {% endfor %}
    </div>
    <!-- End Grid -->


    <div class="mt-8 text-center">
        <a href="{{path('app_contact')}}" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-full border border-amber-300 bg-amber-400 text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
            Demander un devis
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
    </div>
</section>
<!-- End Clients -->
