<!-- Blog Article -->
<section id="pourquoi_choisir_mf" class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
    <div
        class="grid lg:grid-cols-2 gap-y-8 lg:gap-y-0 lg:gap-x-6">
        <!-- Content -->
        <div class="lg:col-span-2">
            <div class="py-8 lg:pe-8">
                <div class="space-y-5 lg:space-y-8">
                    {% include "components/atoms/title.html.twig" with {
                        text: 'Pourquoi choisir ' ~ SITE_NAME ~ ' ?'
                    } %}
                    <div class="shadow-2xl h-32 text-center text-lg font-bold md:text-2xl  flex items-center justify-center bg-zinc-700 rounded-xl py-6">
                        {# <svg
                            class="w-[50px] h-[50px] fill-amber-500" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"></path>
                        </svg> #}
                        <h3 class="bg-clip-text bg-gradient-to-tr from-amber-400 to-amber-100 text-transparent"> {% trans %}
                        La couverture médicale d'un événement de sport de combat ne doit laisser aucune place à l'improvisation
                        {% endtrans %}</h3>
                       
                    </div>
                    {% include "components/atoms/paragraph.html.twig" with {
                        text: SITE_NAME ~ " a su devenir <span class='font-bold'>un partenaire à part entière</span> des événements MMA et un <span class='font-bold'>interlocuteur privilégié</span> des organisations françaises et européennes."
                    } %}
                    {% include "components/atoms/paragraph.html.twig" with {
                        text: SITE_NAME ~ " est présent pour répondre aux obligations du cahier des charges du Code Sportif de la FMMAF tout en étant <span class='font-bold'>à l'écoute des organisations</span>." 
                    } %}
                    {% include "components/atoms/paragraph.html.twig" with {
                    text: SITE_NAME ~ " satisfait leurs besoins tout en maintenant une présence discrète et efficace en s'entourant de <span class='font-bold'>collaborateurs qualifiés et expérimentés</span>." 
                    } %}

                    <div data-aos="fade-up" class="text-center">
                        <div class="grid lg:grid-cols-2 gap-3">
                            <div class="grid grid-cols-2 lg:grid-cols-1 gap-3">
                                <figure class="relative w-full h-60">
                                    <img class="size-full absolute top-0 start-0 object-cover rounded-xl" src="{{asset ('public/images/pourquoi_choisir_mf/20231103_200108.jpg')}}" alt="Image Description">
                                </figure>
                                <figure class="relative w-full h-60">
                                    <img class="size-full absolute top-0 start-0 object-cover rounded-xl" src="{{asset ('public/images/pourquoi_choisir_mf/DSC08936.jpg')}}" alt="Image Description">
                                </figure>
                            </div>
                            <figure class="relative w-full h-72 sm:h-96 lg:h-full">
                                <img class="size-full absolute top-0 start-0 object-cover object-bottom rounded-xl" src="{{asset ('public/images/pourquoi_choisir_mf/arene_neon_bleu.jpg')}}" alt="Arene de MMA avec des lumieres bleues">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Content -->

    <!-- Sidebar -->
        <!-- End Sidebar -->
    </div>
</section>
<!-- End Blog Article -->
