<!-- Clients -->
<div
    id="confiance" class="max-w-[85rem] px-4 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <article class="sm:w-1/2 xl:w-1/3 mx-auto text-center mb-6">
        {% include "components/atoms/title.html.twig" with {
            text: 'Témoignages'
        } %}
    </article>
    <!-- End Title -->
    <aside>
        {% include "components/atoms/video.html.twig" with {
            video_asset: 'public/videos/qui_je_suis.m4v'
        } %}
    </aside>

    <!-- Grid -->
    <aside class="grid grid-cols-2 sm:grid-cols-3 {# md:grid-cols-4  #}gap-3 lg:gap-3">
        {% for image in temoignages.images  %}
            {% include "components/atoms/temoignage_item.html.twig" with { class: image.class} %}
        {% endfor %}

    </aside>
    <!-- End Grid -->
</div>
<!-- End Clients -->
