<div id="header" class="relative flex flex-col items-center justify-center h-screen md:h-auto overflow-hidden gap-10">
    <aside class="relative z-30">
        <img class="object-contain h-64 rounded-lg" src="{{ asset ('public/images/logo/Medical_Fight_whit&gold.png') }}" alt="médical fight">

    </aside>
    <article class="relative z-30 p-5 text-3xl text-zinc-900 font-extrabold md:w-2/3 text-center">
        <h2>
            {% include "components/atoms/text_gradient.html.twig" with {
                text:"La référence de la couverture médicale « clé en main » des sports de combat."
            } %} 

        </h2>
    </article>
</div>
