<!-- Slider -->
<div data-hs-carousel='{
            "loadingClasses": "opacity-0",
            "isAutoPlay": true
          }' class="relative">
    <div class="hs-carousel relative overflow-hidden w-full min-h-96 rounded-lg">
        <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">

            {% for image in experience.images %}
                {% include "components/atoms/carousel_item.html.twig" %}
            {% endfor %}

        </div>
    </div>
</div>
<!-- End Slider -->
