<div class="md:grid grid-cols-2 items-center">
    <aside class="flex flex-col items-center justify-center h-auto">
        {% include "components/atoms/title.html.twig" with {
            text: 'Votre avis nous interesse'
        } %}
        <span class="text-amber-500 text-3xl font-extrabold flex justify-center items-center gap-3">{{note_globale}}
            {% for i in 1..nb_stars %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewbox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"/>
                </svg>
            {% endfor %}
        </span>
        {% include "components/atoms/button.html.twig" with {
            link: 'app_commentaires',
            text: 'Laisser un avis'
        } %}
        
    </aside>
    <article class="">
        {% include "components/molecules/commentaires/carrousel_commentaires.html.twig" %}
    </article>

</div>
