{% extends 'gallery/layout.html.twig' %}


{% block title %}
    {% trans %}Bienvenue sur MEDICAL FIGHT, vous trouverez ici notre photothéque.{% endtrans %}
    
{% endblock %}

{% block body %}

    {% include "components/atoms/logo.html.twig" with {
        logo: 'public/images/logo/Medical_Fight_whit&gold.png'
    } %}

    {% if photos|length > 0 %}
        <div class="md:max-w-2xl md:mx-auto">
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-32 mb-32 items-center">
            {% for photo in photos %}
                <div class="space-y-2">
                <a href="{{ asset('public/gallery/' ~ photo.imageName) }}" target="_blank">
                    <img  class="w-full size-40 object-cover" src="{{ asset('public/gallery/' ~ photo.imageName) }}" alt="">
                </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3 class=" text-5xl text-center mt-64 mb-64 font-medium leading-tight">
            Pas de photos 
        </h3>
    {% endif %}
    {% endblock %}
    
    