{% extends "base.html.twig" %}
{% block navbar %}
<div class="">
    {%  include('/components/atoms/button.html.twig') with {
        link: 'app_home',
        text: 'Retour accueil' 
    }
    %}
</div>


{% endblock %}
