<div class="lg:flex">
    <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out absolute top-0 start-0 rounded-xl bg-cover" src="{{asset (image)}}" alt="{{image_alt}}">
    </div>

    <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
        <h3 class="text-2xl font-semibold group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white">
            {{text}}
        </h3>
        {% if link_file is defined %}
            <a href="{{asset (link_file)}}" target="_blank" class="inline-flex items-center gap-x-1 text-blue-600 decoration-2 hover:underline font-medium">
                {{link_name}}
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </a>
        {% endif %}

    </div>
</div>
