<!-- Card Blog -->
<div class="mt-7 max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    {% include "components/atoms/sous_titre.html.twig" with {
        text: "Il est en de même pour les autres disciplines.
        Confiance, expérience et professionnalisme sont la clé d'une collaboration de qualité"
    } %}
    <!-- Grid -->
    <div
        class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
        <!-- Card -->
        {% include "components/atoms/pourquoi_choisir_mf/side_bar_item.html.twig" with {
        text: "D'après le Code Sportif de la FMMAF, l'organisateur est libre du choix de son médecin et par extension, de son dispositif médical.",
        link_name: "FMMAF_CodeSportif_v800_Pro.pdf",
        link_file: 'public/images/biographie/bio.png',
        image: "public/images/pourquoi_choisir_mf/20230624_215057.jpg",
        image_alt: "Laissez-passer médical"
    } %}
        <!-- End Card -->
        {% include "components/atoms/pourquoi_choisir_mf/side_bar_item.html.twig" with {
            text: SITE_NAME ~ " s'assure de la préservation de l'intégrité physique des combattants avant, pendant et à l'issue de l'événement.",
            image: "public/images/pourquoi_choisir_mf/Screenshot_20231020_012000_Instagram.jpg",
            image_alt: "Soin de la société MEDICAL FIGHT auprès d'un combattant de MMA"
       } %}


    </div>
    <!-- End Grid -->

</div>
<!-- End Card Blog -->
