{% extends 'contact/layout.html.twig' %}


{% block title %}
{% trans %}Bienvenue sur MEDICAL FIGHT, la référence de la couverture médicale «clé en main» des sports de combat.{% endtrans %}
{% endblock %}

{% block body %}

        <section class="max-w-5/6 px-1 py-10 sm:px-1 lg:px-8 lg:py-14 mx-auto"> 
        <div class="mx-auto max-w-2xl">
        {% include "components/atoms/logo.html.twig" with {
                logo: 'public/images/logo/Medical_Fight_whit&gold.png'
            } %}
            {% include "components/atoms/title.html.twig" with {
                text: 'Me contacter / Demander un devis'
            } %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <div class="mb-3 inline-flex w-full items-center rounded-lg bg-success-100 px-6 py-5 text-base text-success-700" role="alert">
                        <span class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"/>
                            </svg>
                        </span>
                        {{message}}
                    </div>
                </div>
            {% endfor %}
            <!-- Card -->
            <div class="mt-5 p-4 relative z-10 border border-amber-400 rounded-xl sm:mt-10 md:p-10">
                <article data-turbo="false">
                    {{form_start(form, {
                'attr': {
                    'class': 'grid gap-5'
                }
            })}}
                    {% include "components/elements/form/input.html.twig" with {
                form_input: form.nom,
            } %}

                    {% include "components/elements/form/input.html.twig" with {
                form_input: form.prenom,
            } %}

                    {% include "components/elements/form/input.html.twig" with {
                form_input: form.email,
                "form_type": 'email'
            } %}
                    {% include "components/elements/form/input.html.twig" with {
                form_input: form.objet,
            } %}

                    {% include "components/elements/form/textarea.html.twig" with {
                form_input: form.message,
            } %}
                    <div class="h-full flex justify-center items-center">
                        <button class="mb-3 mt-3 w-1/2 inline-block rounded px-6 pb-2 pt-2.5 text-xs bg-gradient-to-tr from-amber-500 to-amber-200 font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]" type="submit" data-te-ripple-init data-te-ripple-color="light">
                            {{buttonContent |default('Valider') | trans }}
                        </button>
                    </div>
                    {{form_end(form)}}
                </article>

            </div>
            <!-- End Card -->
        </div>
    </section>
    <!-- End Comment Form -->
{% endblock %}
