<div>
    <a class="py-3 px-4 m-2 inline-flex items-center gap-x-2 text-sm  rounded-lg border border-transparent bg-gradient-to-tr from-amber-400 to-amber-600 text-zinc-800 hover:bg-grandient-to-l hover:from-zinc-800 hover:text-amber-200 font-bold disabled:opacity-50 disabled:pointer-events-none" href={{path (link)}}>
      {{text}}                
    </a>
</div>
