<article class="group rounded-xl overflow-hidden">
    <div class="sm:flex">
        <aside class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 sm:h-44 min-h-44">
            <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl" src="{{asset (image_asset)}}" alt="{{image_alt}}">
        </aside>

        <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
            <h3 class="text-xl md:text-lg mt-3">
                {{text}}
            </h3>
            {% if link_asset is defined %}
                <a target="_blank" href="{{asset (link_asset)}}" class="mt-4 inline-flex items-center gap-x-1 text-blue-600 decoration-2 hover:underline font-medium">
                    {{link_content}}
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                </a>
            {% endif %}
        </div>
    </div>
</article>
