
    
<div id="header" class="relative flex items-center justify-center overflow-hidden gap-10">
    <aside class="relative z-30">
<img class="object-contain h-64 rounded-lg" src="{{ asset (logo) }}" alt="médical fight"></aside>

</div>      