<!-- Popover -->
<div class="hs-tooltip inline-block [--trigger:hover]">
    <div class="hs-tooltip-toggle block text-center">
        <button class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-amber-100 hover:text-amber-400 disabled:opacity-50 disabled:pointer-events-none">
            {{text}}*
        </button>
        <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-amber-400 border border-amber-700 text-start rounded-xl shadow-md dark:bg-neutral-800 dark:border-neutral-700" role="tooltip">
            <div
                class="p-4">
                <!-- Header -->
                <div class="flex justify-center items-center gap-x-3 text-zinc-800">
                    <div class="flex items-center gap-x-2 text-center">{{popover}}</div>
                </div>
                <!-- End Header -->
            </div>
        </div>
        {# Hs content #}
    </div>
</div>
<!-- End Popover -->
