<div data-aos="fade-up" class="flex gap-x-5">
    <div class="{# w-24 h-24 #} size-20 fill-amber-400"> {% block svg %}{% endblock %}
        </div>
        <div class="grow">
            <strong class="text-lg font-sstrongibold text-amber-200 dark:text-white">
                {{title | trans | raw}}
            </strong>
            {% block content %}
                {% for text in texts %}
                    <span class="mt-1 text-amber-50 dark:text-neutral-400">
                        {{text | trans | raw}}
                    </span>
                {% endfor %}
            {% endblock %}

        </div>
    </div>
