<div data-aos="fade-up" class="p-4 md:p-7 rounded-lg flex items-center {{class|default("")}}">
   <img  class="rounded-lg ease-in duration-500 hover:scale-125 object-fill" src="{{asset (image.path)}}" alt="{{image.alt}}">
</div>
