<div class="flex justify-center">
    <video controls class="z-10 w-10/12 sm:max-w-[85rem] rounded-lg">
        <source src="{{ asset(video_asset) }}" type="video/mp4"/>
        {% trans %}
        Your browser does not support the video tag.
        {% endtrans %}
    </video>
</div>
{# <iframe width="560" height="315" src="https://www.youtube.com/embed/i-UPwhSP_Hw?si=b_F0HnpUzXUfNq9a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> #}
