<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {# icon svg #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png {{asset ('/public/images/favicon/apple-touch-icon.png')}} ">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset ('/public/images/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset ('/public/images/favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset ('/public/images/favicon/site.webmanifest')}}">

        {% block stylesheets %}
            <link data-turbo-track="reload" rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body data-turbo="false" >
        <div class="bg-gradient-to-tl from-zinc-600 via-zinc-700 to-zinc-900 text-justify scroll-smooth text-amber-50">
            {% block navbar %}
                {% include "components/elements/navbar.html.twig" %}
            {% endblock %}
            {% block body %}{% endblock %}
            {% block sticky %}
                {% include "components/molecules/sticky_links.html.twig" %}
            {% endblock %}
            {% block footer %}
                {% include "components/elements/footer.html.twig" %}
            {% endblock %}
        </div>

    </body>

</html>
