<header data-controller="hello" id="navbar" class="opacity-80 sticky top-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full">
    <nav class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-6 mx-auto" aria-label="Global">
        <div
            class="md:col-span-3">
            <!-- Logo -->
            <a href="{{path('app_home')}}" class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" aria-label="Preline">
                <img src="{{asset ('public/images/logo/logo_Medical_Fight_white&gold.png')}}" alt="logo du site" class="object-cover h-16 md:h-32 rounded-lg opacity-100">
            </a>
            <!-- End Logo -->
        </div>

        <!-- Button Group -->
        <div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
            <a href="{{path ('app_gallery')}}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-amber-400 text-amber-50 hover:bg-amber-400 hover:text-zinc-950 disabled:opacity-50 disabled:pointer-events-none">
                Galerie
            </a>
            <a href="{{path ('app_contact')}}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-amber-400 text-zinc-950 hover:bg-transparent hover:text-amber-50 hover:border-amber-400 transition disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-amber-500 text-nowrap">
                Me contacter
            </a>

            <div class="md:hidden">
                <button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-amber-400 text-amber-50 hover:bg-transparent disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
                    <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                    <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
            </div>
        </div>
        <!-- End Button Group -->

        <!-- Collapse -->
        <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6">
            <div class="flex gap-y-4 flex-row justify-center items-center md:gap-y-0 gap-x-7 mt-0 sm:pb-1">
                <div>
                    <a class="inline-block  text-amber-50 before:absolute hover:text-amber-600" href="#presentation" aria-current="page">Présentation</a>
                </div>
                <div>
                    <a class="inline-block text-amber-50 hover:text-amber-600  da" href="#experience">Expérience</a>
                </div>
                <div>
                    <a class="inline-block text-amber-400 hover:text-amber-600  da" href="#pourquoi_choisir_mf">Choisir MEDICAL FIGHT</a>
                </div>
                <div>
                    <a class="inline-block text-amber-50 hover:text-amber-600  da" href="#partenaires">Partenaires</a>
                </div>

            </div>
        </div>
        <!-- End Collapse -->
    </nav>
</header>
<!-- ========== END HEADER ========== -->
