<!-- Comment Form -->
<div class="max-w-5/6 px-1 sm:px-1 lg:px-8 mx-auto">
    <div class="mx-auto max-w-2xl">
        <!-- Card -->
        <div class="mt-5 p-4 relative z-10 border border-amber-400 rounded-xl sm:mt-10 md:p-10">
            <article data-turbo="false">
                {{form_start(form, {
                    'attr': {
                        'class': 'grid gap-5'
                    }
                })}}
                {% include "components/elements/form/input.html.twig" with {
                    form_input: form.pseudo,
                } %}

                {% include "components/elements/form/input.html.twig" with {
                    form_input: form.titre,
                } %}

                {% include "components/elements/form/textarea.html.twig" with {
                    form_input: form.message,
                } %}

                {% include "components/elements/form/input_number.html.twig" with {
                    form_input: form.note,
                } %}

                {{form_row(form.envoyer)}}
                {{form_end(form)}}
            </article>

        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Comment Form -->
