<figure data-aos="fade-up">
    <img class="w-full object-cover rounded-xl" src="{{ asset (image) }}" alt="{{alt_image}}">
    <figcaption class="mt-3 text-sm text-center text-amber-500 ">
        {{alt_image}}                        
    </figcaption>
</figure>